.homebody {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin: 100px; */
  background-image: url("/public/background_image.jpg");
  background-size: cover; /* Scale the image to cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeated images */
}

/* section1 */
.sec1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 50px;
    font-family: tahoma;
    font-weight: 600;
    color: rgba(0, 0, 0);
    width: 70%;
    height: 30%;
    margin-top: 20px;
  }

  p {
    color: rgba(0, 0, 0, 0.9);
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(52, 53, 59);
    line-height: 40px;
    text-decoration: azure;
    width: 65%;
    height: 20%;
  }
}

.sec1button {
  display: flex;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.span {
  color: #048c63;
  width: 130px;
  height: 30px;
  font-size: 15px;
  font-family: tahoma;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: scale(0.9);
}
.span:hover {
  border: 2px solid #048c63;
  border-radius: 30px;
  color: #048c63;
  transition: 0.05s ease;
  transform: scale(1);
}
.learnmore {
  color: #048c63;
  width: 150px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #048c63;
  border-radius: 30px;
}
.learnmore:hover {
  border: 3px solid #048c63;
  border-radius: 30px;
  color: #048c63;
  transition: 0.05s ease;
}

.applynow {
  color: white;
  font-family: sans-serif;
  width: 150px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #048c63;
  border-radius: 30px;
  background-color: #048c63;
}
.applynow:hover {
  border: 3px solid #048c63;
  border-radius: 30px;
  transition: 0.05s ease;
  transform: scale(1);
  box-shadow: 0 0 5px 0 #048c63;
}
.span1 {
  color: white;
  width: 130px;
  height: 30px;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: scale(0.9);
}
.span1:hover {
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  transition: 0.05s ease;
  transform: scale(1);
  box-shadow: 0 0 5px 0 #048c63;
}

/* section2 */
.sec2 {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 26px;
  margin-top: 120px;
  /* align-items: flex-end;  */

  img {
    width: 250px;
    height: 270px;
    border-radius: 14px;
  }

  .getstarted {
    height: 200px;
    width: 240px;
    background-image: url("\hackerBg.jpeg");
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: red;
    text-align: center;
  }
  .getstartedbutton {
    color: white;
    font-family: sans-serif;
    width: 150px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #048c63;
    border-radius: 30px;
    background-color: #048c63;
  }
  .getstartedspan {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transform: scale(0.9);
  }
  .getstartedspan:hover {
    border: 2px solid white;
    border-radius: 30px;

    width: 150px;
    color: white;
    transition: 0.05s ease;
    transform: scale(1);
  }

  .getstartedbutton:hover {
    box-shadow: 0 0 5px 0 #048c63;
    border: 3px solid #048c63;
    border-radius: 30px;
    color: white;
    transition: 0.05s ease;
    transform: scale(1);
  }
}

.sec2img {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* images with text in section2 */
  img {
    width: 240px;
    height: 144px;
    border-radius: 14px;
  }

  p {
    width: 240px;
    height: 107px;
    background-color: #048c63;
    border-radius: 14px;
    color: aliceblue;
    font-size: 23px;
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
}
/* section3 supporters sec */
.sec3 {
  width: 100%;
  min-height: 28vh;
  margin-top: 120px;
  background-color: #cce8e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h2 {
    font-family: tahoma;
    font-size: 60px;
    width: 100%;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgba(0, 0, 0);
  }
}

.supporters {
  display: flex;
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .querryimg1 {
    width: 180px;
    height: 160px;
  }
  .querryimg2 {
    height: 160px;
    width: 280px;
  }
  .querryimg3 {
    height: 180px;
    width: 240px;
  }
  .querryimg4 {
    height: 160px;
    width: 380px;
  }
}

.sec4 {
  width: 100%;
  min-height: 100vh;
  /* margin-top: 120px; */
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 70px;
    letter-spacing: 4px;
    font-family: sans-serif;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.gallery {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7px;

  img {
    width: 370px;
    height: 380px;
  }
}

.imgBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  img {
    width: 384px;
    height: 185px;
  }
}

.seemore {
  font-weight: 600;
  font-size: 20px;
  padding: 0px 24px;
  border-radius: 60px;
  margin-top: 20px;
  text-decoration: underline 2px;
  color: #6da333;
  border: 4px solid #6da333;
  display: flex;
  align-items: center;
}
.seemorediv {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .seemore {
    text-decoration: none;
  }
}

/* Mobile responsiveness (screen width between 480px and 768px)
 */
@media (max-width: 479px) and (min-width: 375px) {
  .sec1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h1 {
      font-size: 20px;
      font-family: tahoma;
      font-weight: 600;
      color: rgba(0, 0, 0);
      width: 100%;
      height: 10vh;
    }

    & p {
      color: rgba(0, 0, 0, 0.9);
      font-family: sans-serif;
      font-size: 20px;
      color: rgb(52, 53, 59);
      width: 100%;
      text-align: center;
      height: 60vh;
      line-height: 30px;
    }
  }
  .sec1button {
    display: flex;
    margin-top: 30px;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }

  .sec2 {
    display: none;
  }

  /* section3 supporters sec */
  .sec3 {
    width: 100%;
    min-height: 28vh;
    margin-top: 120px;
    background-color: #cce8e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2 {
      font-family: tahoma;
      font-size: 30px;
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: rgba(0, 0, 0);
    }
  }

  .supporters {
    background-color: red;
    display: flex;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .querryimg1 {
    width: 50px;
    height: 50px;
  }
  .querryimg2 {
    width: 50px;
    height: 50px;
  }
  .querryimg3 {
    width: 20px;
    height: 20px;
  }
  .querryimg4 {
    width: 50px;
    height: 50px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
@media (max-width: 769px) and (min-width: 480px) {
  .sec1 {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h1 {
      font-size: 30px;
      font-family: tahoma;
      font-weight: 600;
      color: rgba(0, 0, 0);
      width: 100%;
      height: 10vh;
    }

    & p {
      color: rgba(0, 0, 0, 0.9);
      font-family: sans-serif;
      font-size: 20Spx;
      color: rgb(52, 53, 59);
      width: 100%;
      text-align: center;
      height: 60vh;
      line-height: 30px;
    }
  }
}

/* Large Tablets/small desktop responsiveness (screen width between 769px and 1000px) */

@media (max-width: 1024px) and (min-width: 789px) {
  .homebody {
    width: 85%;
    margin: 70px;
  }

  .sec3 {
    width: 100%;
    min-height: 20vh;
    margin-top: 120px;
    background-color: #cce8e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2 {
      font-family: tahoma;
      font-size: 30px;
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: rgba(0, 0, 0);
    }
  }

  .supporters {
    background-color: red;
    display: flex;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .querryimg1 {
    width: 50px;
    height: 50px;
  }
  .querryimg2 {
    width: 50px;
    height: 50px;
  }
  .querryimg3 {
    width: 20px;
    height: 20px;
  }
  .querryimg4 {
    width: 50px;
    height: 50px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
